body { 
    display: grid;
    grid-template-areas: 
      "header header header"
      "nav article ads"
      "nav footer ads";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 15% 1fr 13%;
    grid-gap: 4px;
    height: 100vh;
    margin: 0;
    background-color: rgba(255, 172, 116, 0.541);
}



/* CSS GRID */
#pageHeader {
    grid-area: header;
}
#pageFooter {
    grid-area: footer;
    border-radius: 7px;
}
#mainArticle { 
    grid-area: article; 
    padding: 0px; 
    border-radius: 7px;    
}
#mainNav { 
    grid-area: nav; 
}
#siteAds { 
    grid-area: ads; 
}

header, article, footer, nav, div {
    padding: 20px;
    background: rgb(255, 255, 255);
}

/* END CSS GRID */

h1 {
    text-align: center;
    font-size: 32px;
}

h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.site-logo {
    float: left;
}

.article {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    border-radius: 20px;
}

.comment_list{
    background-color: rgb(255, 222, 209);
    border-radius: 15px;
}

.post_preview{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.label {
    font-size: 20px;
}

.btn-create-post {
    background-color: rgba(103, 227, 243, 0.712);
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    border: 2px solid #ffffff;
    transition-duration: 0.4s;
}

.btn-create-post:hover {
    background-color: rgba(37, 230, 255, 0.712);
    box-shadow: 5px 10px 15px #888888;
}

.btn_return {
    background-color: rgb(211, 255, 203);
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    border: 2px solid #005a03;
    transition-duration: 0.4s;
}

.btn_return:hover {
    background-color: rgb(115, 253, 120);
}

.profile_view{
    float: center;
}

.creating-article-form {
    height: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-container {
    border: 2px solid #000000;
    border-radius: 5px;
    margin: 15;
    height:auto;
    background-color: powderblue;
}

.blog-container:hover {
    transition-duration: 0.5s;
    box-shadow: 5px 10px 15px #777777
}

.border-form {
    padding: 2% 30%;
}
  
.field {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.help_text {
    color: rgb(95, 93, 93);
}

.btn_save_post {
    background-color: #ffafafaf;
    border: none;
    border-radius: 15px;
    color: rgb(48, 48, 48);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn_save_post:hover {
    background-color: #c9ffb0;
    box-shadow: 5px 10px 15px #888888;
}

.preview-article-picture {
    float: left;
}

.preview-article-title {

}

.preview-article-date {

}

#preview-title-date{
    left: 100px;
    padding: 0;
    background-color: powderblue;
}

.preview-article-text {
    margin-bottom: 0;
}

.btn-detail {
    background-color: rgb(207, 217, 248);
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 15px;
    border: 2px solid #f7f7f7;
    transition-duration: 0.4s;
}

.btn-detail:hover {
    background-color:  rgb(159, 182, 252);
    box-shadow: 5px 10px 15px #888888;
}

.btn-admin-panel {
    background-color: rgb(207, 217, 248);
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 12px;
    border: 2px solid #808080;
    transition-duration: 0.5s;
}

.btn-admin-panel:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 5px 10px 15px #888888;
}