body { 
    display: grid;
    grid-template-areas: 
      "header header header"
      "nav article ads"
      "nav footer ads";
    grid-template-rows: 80px 1fr 80px;
    grid-template-columns: 10% 1fr 13%;
    grid-gap: 3px;
    height: 100vh;
    margin: 0;
    background-color: rgba(191, 241, 248, 0.712);
}

#pageHeader {
    grid-area: header;
}
#pageFooter {
    grid-area: footer;
}
#mainArticle { 
    grid-area: article; 
    padding: 0px; 
    border-radius: 10px;    
}
#mainNav { 
    grid-area: nav; 
}
#siteAds { 
    grid-area: ads; 
}

header {
    padding: 0px;
    background: rgb(255, 218, 187);
}

footer, article, nav, div {
    padding: 20px;
    background: rgb(255, 218, 187);
}

h1{
    text-align: center;
    font-size: 32px;
}

.site-logo {
    float: left;
}

.article {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    border-radius: 20px;
}

.comment_list{
    background-color: rgb(210, 248, 213);
    border-radius: 15px;
}

.post_preview{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.label {
    font-size: 20px;
}

.btn-create-post {
    background-color: rgba(103, 227, 243, 0.712);
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    border: 2px solid #ffffff;
    transition-duration: 0.4s;
}

.btn_return {
    background-color: rgb(182, 153, 153);
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    border: 2px solid #005a03;
    transition-duration: 0.4s;
}

.btn_return:hover {
    background-color: #00ff08;
    color: white;
}

.profile_view{
    float: center;
}

.creating-article-form {
    height: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-container {
    border: 2px solid #000000;
    border-radius: 5px;
    margin: 15;
    height: 100;
}

.border-form {
    padding: 2% 30%;
}
  
.field {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.help_text {
    color: rgb(95, 93, 93);
}

.btn_save_post {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}