{% extends 'register/base.html' %}

{% block title %}
    <title>Sign Up in site</title>
{% endblock title %}

{% block header %}
    <h3 class="head-text">Sign Up</h3>
{% endblock header %}

{% block content %}
    <form method="POST" class="post-form">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <p class="field">{{field.label}}</p>
                <p class="field"></p>{{field}}</p>
                {% if field.help_text %}
                    <a class='help_text'>{{ field.help_text }}</a>
                {% endif %}<br>
            </div>
        {% endfor %}
        <button class="btn btn_user_create" type="submit">Sign Up</button><br>
        <a href="/">Return to Home</a>
    </form>
{% endblock %}
