{% load static %}
<html>

    {% block title %}
    {% endblock title %}

    <head>
        <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    </head>

    <body>
        <header id="pageHeader">
            <a href="/home/">
                <img class="site-logo" src="{% static 'blog/images/site-logo.png'%}" alt="site-logo.png" height="75" width="75">
            </a>
            <a href="/blog/">Blog</a>
            <a href="/register/sign_up">Sign Up</a>
            <a href="/register/sign_in">Sign In</a>          
            
        </header>

        <article id="mainArticle">
            {% block content %}
            {% endblock %}
        </article>

        <nav id="mainNav">
            <div class="profile_view">
                <h4>{{request.user}}</h4> 
                <a href="#">Profile</a>
                <a href="/register/logout">Logout</a>
            </div>
        </nav>

        <div id="siteAds">Ads
            
            {% block ads %}
                
            {% endblock ads %}
        </div>
            
        <footer id="pageFooter">
            {% if user.is_superuser %}
                <a class=' btn btn-admin-panel' href="/admin">Admin page</a>
            {% endif %}
        </footer>

        </body>  
</html>

