{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    <title>Blog with articles</title>
{% endblock title %}

{% block header %}
    <a>Blog</a>
{% endblock header %}

{% block content %}
    <div>
        <a href="{% url 'blog:new_post' %}">Create new post</a><br>
        {% if blog_list %}
            <ul>
            {% for blog in blog_list %}
                <li><a href="/blog/{{ blog.id }}/">{{ blog.title }}</a></li>
            {% endfor %}
        {% else %}
            <a>Posts aren`t available.</a>
        {% endif %}
    </div>
{% endblock content %}