{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    <title>Blog with articles</title>
{% endblock title %}

{% block header %}
    <a>Blog</a>
{% endblock header %}

{% block content %}
    <div>
        <p><a class="btn btn-create-post" href="{% url 'blog:new_post' %}">Create new post</a></p>
        {% if blog_list %}
            {% for blog in blog_list %}
                <div class="blog-container">
                    <a class="preview-article-picture" href="/blog/{{ blog.id }}/">
                        <img src="{{ blog.preview.url }}" alt="{{ blog.preview }}" style="width: 100px;"><br>
                    </a>
                    <div id="preview-title-date">
                        <h3 class="preview-article-title">{{ blog.title }}</h3>
                        <h5 class="preview-article-date">{{ blog.published_date}}</h5>                             
                    </div>
                    <a class="preview-article-text">{{ blog.text|slice:":300"}}...</a>
                    <p style="margin-bottom: 0;"><a class="btn btn-detail" href="/blog/{{ blog.id }}/">Read detail..</a></p>
                </div>
            {% endfor %}
        {% else %}
            <p style="color: red;">Posts aren`t available.</p>
        {% endif %}
    </div>
{% endblock content %}