{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    <title>Blog with articles</title>
{% endblock title %}

{% block header %}
    <a>Blog</a>
{% endblock header %}

{% block content %}
    <div>
        <p><a class="btn btn-create-post" href="{% url 'blog:new_post' %}">Create new post</a></p>
        {% if blog_list %}
            {% for blog in blog_list %}
                <div class="blog-container">
                    <a href="/blog/{{ blog.id }}/">
                        <img src="{{ blog.preview.url }}" alt="{{ blog.preview }}" style="width: 100px;"><br>
                        {{ blog.title }}
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <a>Posts aren`t available.</a>
        {% endif %}
    </div>
{% endblock content %}