{% extends 'blog/base.html' %}

{% block title %}
    <title>Article "{{blog.title|slice:":25"}}"</title>
{% endblock title %}


{% block content %}
<div class="content">
    {% comment %} Title of the article {% endcomment %}
    <h2>{{blog.title}}</h2>
    
    {% comment %} Picture of the article {% endcomment %}
    {% if blog.preview %}
        <img class="post_preview" src="{{ blog.preview.url }}" alt="{{ blog.preview }}" style="width: 400px;">
    {% endif %}

    <h3 style="min-width: 15%; font-weight: 700; word-break: break-all;">{{ blog.text|linebreaks }}</h3>
    <a class="label">Creator:</a> <a>{{ blog.author }}</a><br>
    <p> <span class="label">Published date: </span> {{ blog.published_date }}</p>
    <a class="btn btn_return" href="{% url 'blog:blog' %}">Return</a><br><br>
    
    {% comment %} Comment list and create {% endcomment %}
    <div class="comment_list">
        <a class="label">Comments</a><br>
        {% if  blog.comment_set.all %}
            <ul>
            {% for comm in blog.comment_set.all %}
                <li>User: {{ comm.author}}</li>
                <a style="word-break:break-all;">Wrote: {{ comm.comment_text|linebreaks}}</a><br>
                <a>When: {{ comm.published_comment }}</a><br>
            {% endfor %}
        </ul>
        {% else %}
            <p style="color: red;">Comments aren`t available.</p>
        {% endif %}
        
        <h2>Add a new comment</h2>
        <form action="." method="post">
            <p class="label comment_label">{{ comment_form.comment_text.label }}</p>
            <p class="comment_text">{{ comment_form.comment_text }}</p>
            {% csrf_token %}
            <p><input class="btn comment_send" type="submit" value="Add comment"></p>
        </form>
        <a class=' btn btn_return' href="{% url 'blog:blog' %}">Return</a>
    </div>  
</div>
{% endblock content %}