{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    <title>Creating new article</title>
{% endblock title %}

{% block header %}
    <a>Creating new article</a>
{% endblock header %}
    
{% block content %}
    <div class="border-form">
        <form method="POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {% for fields in form %}
                <a class="field-label">{{ fields.label }}</a>
                <p class="help_text">{{ fields.help_text }}</p>
                <p class="field">{{ fields }}</p>
            {% endfor %}
            <button class="btn btn_save_post" type="submit" class='save_post_btn'>Save post</button>
        </form>
    </div>
{% endblock content %}