.login-form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/screen-0.jpg);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-form {
  border: 3px solid rgb(9, 255, 0);
  padding: 2%;
  background-color: rgba(64, 167, 64, 0.952);
}

.field {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.help_text {
  color: rgb(95, 93, 93);
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }